/** styles only used in boards section */

.moodboardr__board-preview.big {
    height: 20vh;
    margin: 1em calc(var(--gap-m) / -2 - 1.5px) 3em;
}

.moodboardr__board-colorfieldsets {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-m);
}

.moodboardr__board-colorfieldsets fieldset {
  flex: 0 0 auto;
}

.moodboardr__board-colorfieldsets fieldset input[type=number] {
  width: 14ch;
}

