:root {
  --color-foreground: hsl(0, 0%, 13%);
  --color-background: hsl(0, 0%, 100%);
  --color-links: hsl(213, 81%, 43%);
  --color-links-hover: hsl(213, 68%, 49%);
  --color-border: hsl(0, 0%, 82%);
  --color-problem: hsl(0, 86%, 37%);
  --font-body: -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, 'Apple Color Emoji', 'Segoe UI Emoji';
  --gap-s: .5em;
  --gap-m: 1.5em;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: var(--color-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  --gutter: 16px;
  width: 1024px;
  max-width: calc(100% - var(--gutter) * 2);
  margin-right: auto;
  margin-left: auto;
}

fieldset {
  border: 3px solid var(--color-border);
  border-radius: 1ch;
}

input, button {
  padding: calc(var(--gap-m) / 3) calc(var(--gap-m) / 2);
  margin: 0 calc(var(--gap-m) / 3);
  border: 3px solid var(--color-border);
  border-radius: 1ch;
}

input[type=color] {
  height: 3rem;
  vertical-align: middle;
}

.form-validation-error {
  color: var(--color-problem);
}