/*
 * You probably want to just delete this file; it's just for the demo pages.
 */
.moodboardr {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.moodboardr > * {
  width: 100%;
}

.moodboardr__header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.moodboardr__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moodboardr__header-home-link {
  color: var(--color-foreground);
  font-size: 2rem;
}

.moodboardr__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  --nav-gap: var(--gap-m);
  gap: var(--nav-gap);
}

.moodboardr__nav li {
  font-weight: bold;
}

.moodboardr__nav a.active {
  padding: calc(var(--nav-gap) / 3) calc(var(--nav-gap) / 2 - 1.5px);
  margin: calc(var(--nav-gap) / -3 - 3px) calc(var(--nav-gap) / -2 - 1.5px);
  border: 3px solid var(--color-border);
  border-radius: 1ch;
}

.moodboardr__main {
  flex: 1 1 100%;
}

.moodboardr__footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);
}

.moodboardr__footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moodboardr__colorlist {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-s);

}

.moodboardr__colorlist::after {
  content: '';
  flex-grow: 1000000000;
}

.moodboardr__colorlist li {
  flex: 1 0 0px;
}

.moodboardr__colorlist-preview {
  display: block;
  border: 3px solid var(--color-border);
  border-radius: 1ch;
  width: 50px;
  height: 50px;
}
.moodboardr__colorlist-hex {
  display: block;
}
.moodboardr__colorlist-name {
  display: block;
  color: var(--color-foreground);
  width: 130px;
}
